@media screen and (max-width: 380px) {
    
    
    /*Header*/
    .header {
        padding: 28px 23px 35px;
    }
    .header ul[class]{
        padding: 20px;
    }
    .logo {
        width: 81px;
        padding: 7px 0 0 1px;
    }
    .nav__wrapper {
        position: absolute;
        /* position: fixed; */
        z-index: 10;
        width: 100%;
        height: 100%;
        top: 0px;
        right: 380px; /*180px*/
        /* left: 100%; */
        transition: 0.5s;
        overflow: auto;
        background-color: rgba(224, 103, 51, 0.9);
    }
    .navigation__list {/*----*/
        width: 100%;
        height: 100%;
        max-height: 100%;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        padding: 70px 0;/*.header ul[class]*/
        border-radius: 2px;
        
    }
    .header ul[class] {
        padding: 70px 0;
    }
    .navigation__list a {
        color: #fff;
    }
    .navigation__icon {
        display: block;
        z-index: 11;
        position: relative;
        height: 24px;
        width: 40px;
        cursor: pointer;
    }
    .navigation__icon span {
        display: block;
        position: absolute;
        height: 2px;
        width: 40px;
        transition: 1s;
        background-color: #717171;
    }
    .navigation__icon span:nth-child(2) {
        margin-top: 8px;
    }
    .navigation__icon span:nth-child(3) {
        margin-top: 16px;
    }
    .navigation__icon span:nth-child(4) {
        margin-top: 24px;
    }
    .navigation__icon::before
    .navigation__icon::after {
        content: "";
    }
    .nav__wrapper._active {
        /* left: 0; */
        right: 0;
    }
    .span1._active {
        width: 35px;
        top: 40%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .span2._active {
        transform: scale(0) translate(0px, -50%);
    }
    .span3._active {
        transform: scale(0) translate(0px, -50%);
    }
    .span4._active {
        width: 35px;
        bottom: 50%;
        transform: rotate(45deg) translate(0px, -50%);
    }
    body._lock {
        overflow: hidden;
    }

    /*-------------------------*/
    /*Welcome*/
    .welcome {
        max-width: 380px;
        height: 303px;
        padding: 29px 25px 0 25px;
    }
    .welcome__image {
        display: none;
    }
    .welcome__title {
        font-size: 25px;
        line-height: 35px;
        padding: 0;
    }
    .welcome__blockText {
        max-width: 380px;
        padding: 0;
    }
    .welcome__text {
        line-height: 25px;
        padding: 20px 0 0;
    }
    .welcome__button {
        width: 100px;
        height: 34.14px;
        font-size: 10px;
        line-height: 20px;
        margin: 25px 0 0;
    }

    /*-------------------------*/
    /*About*/
    .about {
        max-height: 516px;
        min-height: 200px;
    }
    .about__blockText {
        max-width: 380px;
        max-height: 335px;
        margin: 0;
        padding: 30px 25px 0 25px;
    }
    .about__title {
        max-width: 350px;
        text-align: center;
        margin: 0;
        padding: 0 19.5px 0 0;
        font-size: 25px;
        line-height: 33px;
    }
    .about__text {
        max-width: 380px;
        font-size: 15px;
        line-height: 25px;
        margin: 0;
        padding: 0;
    }
    .about__image {
        margin: 0;
        padding: 0 0 27px;
    }
    .about__image>img {
        width: 150px;
        height: 154px;
    }

    /*-------------------------*/
    /*Service*/
    .service {
        min-height: 3150px;
    }
    .service__content {
        padding: 0 25px 0;
    }
    .service__title {
        max-width: 187px;
        text-align: left;
        font-size: 25px;
        line-height: 33px;
        padding: 30.2px 0 0;
    }
    .service__list {
        max-width: 252px;
        height: 80px;
        flex-wrap: wrap;
        align-content: space-between;
        margin: 0;
        padding: 28px 0 0;
    }
    .service__button {
        padding: 9.5px 0 0;
    }
    .button {
        width: 121px;
        height: 35px;
        font-size: 15px;
        line-height: 20px;
    }
    .service__layout {
        padding: 43px 0 0;
    }
    .service__item {
        margin: 34px 51px 0;
    }
    .service__name {
        height: 20px;
    }
    /* .service img {
        filter: blur(5px);
    } */

    /*-------------------------*/
    /*Prices*/
    .prices {
        min-height: 512px;
        padding: 25px 0 40px 79px;
    }
    .prices__block1 {
        min-height: 300px;
        z-index: 3;
    }
    .prices__title1 {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        padding: 0;
    }
    .prices__formBlock {
        max-width: 224px;
        min-height: 235px;
        margin: 37px 0 0  0px;
    }
    .prices__accordion {
        max-width: 180px;
        height: 49.72px;
        justify-content: space-between;
        padding: 0px 0px 0 0px;
    }
    .prices__button {
        max-width: 180px;
    }
    .prices__accordion._active {
        max-width: 180px;
        width: 100%;
        height: 154px;
    }
    .prices__text {
        margin: 0 20px 0 20px;
    }
    .prices__formBlock .prices__form:first-child {
        margin-top: 28px;
    }
    .prices__formBlock .prices__form:last-child {
        margin-bottom: 28px;
    }
    .prices__item {
        height: 18px;
        font-size: 15px;
        line-height: 20px;
    }
    .prices__checkbox {
        height: 16px;
        margin-right: 0px;
    }
    .prices__block2 {
        justify-content: space-between;
        padding: 0;
    }
    .prices__title2 {
        width: 230px;
        font-size: 20px;
        line-height: 35px;
        text-align: center;
        margin-right: 0px;
        padding: 0;
    }
    .prices__block2>.button {
        width: 121px;
        height: 35px;
        margin: 0 59px 0 0;
    }
    .prices__img {
        display: none;
    }

    /*-------------------------*/
    /*Contact*/
    .contact {
        max-height: 445px;
        min-height: 444px;
    }
    .contact__tittle {
        font-size: 25px;
        line-height: 33px;
        margin: 25px 3.3px 0 0;
    }
    .selectBlockCity {
        max-width: 380px;
        left: 0px;
        bottom: 158px;
    }
    .cityBlock {
        width: 300px;
        height: 50px;
        margin: 240px 0 0;
        padding: 0 0 0 18px;
    }
    .contact__input {
        margin: 256px 0 0 262px;
    }
    .contact__image {
        width: 100px;
        height: 124px;
        margin-left: 0px;
        margin-right: 5px;
    }
    .cityPopup {
        max-width: 300px;
        width: 100%;
        max-height: 250px;
        min-height: 230px;
        height: 100%;
        margin-top: 20px;
        padding: 10px 0 0 20px;
    }
    tr {
        height: 38px;
    }
    td.tittle {
        line-height: 35px;
    }
    td.text {
        line-height: 35px;
    }
    .city__button_item {
        margin: 10px 0 0 70px;
    }

    /*-------------------------*/ 
    /*Footer*/
    .footer {
        min-height: 146px;
        padding: 23px 0 6px 0;
    }
    .githubBlock {
        margin-right: 3px;
    }
    .rsschool {
        margin-top: 12px;
        margin-right: 1.5px;
    }
}